.home-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-subtitle h3 a{
    color: #1282a2;
}
.home-subcontent{
    margin: 1.7rem 0;
}
.global-crypto-subcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.global-crypto-item h5{
    color: #777777;
    font-size: 0.9rem;
    margin-bottom: 6px;
    font-weight: 500;
}
.global-crypto-item p{
    font-size: 1.4rem;
}
.top-crypto-subcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.latest-crypto-subcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    .home-subtitle{
        flex-direction: column;
        align-items: start;
    }
    .home-subtitle h2{
        font-size: 1.2rem;
    }
    .home-subtitle h3 a{
        font-size: 1rem;
    }
    .global-crypto-item p{
        font-size: 1.2rem;
    }
    .global-crypto-item h5{
        font-size: 0.8rem;
    }
    .top-crypto-subcontent{
        grid-template-columns: 1fr 1fr;
    }
    .latest-crypto-subcontent{
        grid-template-columns: 1fr;
    }
}