.navbar{
    width: 25%;
    background-color: #001f54;
    height: 100vh;
    padding: 4rem 1.2rem;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.nav-logo img{
    width: 150px;
    height: 150px;
}
.nav-logo h2{
    font-size: 2rem;
    color: #fff;
}
.nav-menu ul li{
    padding: 15px 15px;
    cursor: pointer;
}
/*.nav-menu ul li:hover{
    background-color: #1282a2;
}*/
.nav-menu ul a{
    font-size: 1.1rem;
    color: #fff;
}
.nav-menu ul a span{
    margin-left: 10px;
}
.active{
    background-color: #1282a2;
}