.crypto-card{
    border: .5px solid #bebebe;
    background-color: #f7f7f7;
}
.crypto-card a{
    color: black;
}
.crypto-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #bebebe;
}
.crypto-card-title h3{
    font-size: 1.1rem;
}
.crypto-card-title img{
    width: 50px;
    height: 50px;
}
.crypto-card-info{
    padding: 30px 15px;
}
@media screen and (max-width: 600px){
    .crypto-card-title{
        flex-direction: column-reverse;
        padding: 10px 10px;
    }
    .crypto-card-title h3{
        font-size: 1rem;
    }
    .crypto-card-title img{
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
    }
    .crypto-card-info p{
        font-size: 0.8rem;
    }
    .crypto-card-info{
        padding: 20px 10px;
    }
}