.crypto-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
@media screen and (max-width: 600px){
    .crypto-container{
        grid-template-columns: 1fr 1fr;
    }
}
